@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: #f9f9f9;
  text-decoration: none;
}

html,
body {
  min-height: 100vh;
  background-image: url("../img/gradiente\ backgrand.svg"),
    url("../img/Imagem\ Backgrand.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: poppins, "sans-serif";
  color: #f9f9f9;
}

/* section .teste {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 1800px;
  object-fit: cover;
  z-index: -1;
} */

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  width: 1238px;
  height: 48px;
  margin-top: 10px;
  margin-left: 32px;
  position: relative;
}

nav .logo {
  margin-right: 2.5rem;
}

.nav-header ul {
  display: flex;
  gap: 3rem;
  color: #f9f9f9;
  font-weight: 900;
  font-size: 14.33px;
  line-height: 21.49px;
}

.nav-header ul li {
  list-style: none;
  display: flex;
}

ul li img {
  margin-right: 0.5rem;
  width: 19px;
  height: 19px;
}

.perfil figure img {
  display: flex;
  justify-content: end;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px 5px 0px 0px;
}

.principal figure img {
  margin-left: 4rem;
  margin-top: 2rem;
}

.container {
  margin-left: 5rem;
}

.classification {
  display: flex;
  flex-direction: row;
  gap: 4px;
  margin-top: 15px;
}

.classification p {
  font-size: 11px;
  font-weight: 300;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  margin-right: 0.5rem;
}

.description p {
  font-size: 9px;
  font-weight: 300;
  line-height: 13px;
  letter-spacing: 0.05em;
  text-align: left;
  margin-top: 7px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 228px;
  height: 50px;
  border-radius: 3px;
  margin-top: 40px;
}

.buttons img:nth-child(2) {
  width: 40px;
  height: 40px;
}

.progress {
  display: flex;
  flex-direction: row;
}
.progress p {
  transform: translateY(0.8rem);
  font-size: 13px;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: -0.03em;
  text-align: left;
  margin-left: 0.5rem;
}

.progress-bar {
  width: 180px;
  background-color: #ddd;
  height: 5px;
  border-radius: 5px;
  margin-top: 20px;
}

.progress-background {
  width: 8vw;
  height: 100%;
  background-color: #0970c5;
  border-radius: 5px;
}

.sinopse {
  width: 774px;
  height: 163px;
  font-size: 15px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0.05em;
  text-align: left;
  margin-top: 25px;
}
.toggle {
  margin-top: -10px;
}
.toggle ul {
  display: flex;
  flex-direction: row;
  font-size: 21px;
  font-weight: 600;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-align: left;
  gap: 30px;
}

.toggle ul li {
  list-style: none;
}

.progress-bar-toggle {
  width: 140px;
  background-color: #ddd;
  height: 3px;
  border-radius: 5px;
  margin-top: 20px;
}

.carousel {
  display: flex;
  gap: 20px;
  width: 1750px;
  height: 154.69px;
  border-radius: 3px;
  margin-top: 20px;
  overflow: hidden;
}
.above-carousel {
  height: 190px;
  background-color: #1a1c28;
}
footer {
  background-color: #0e0b14;
  height: 317px;
}
footer .logo {
  display: flex;
  justify-content: center;
}
footer .logo img {
  margin-top: 20px;
  margin-bottom: 15px;
  width: 85px;
  height: 51.65px;
}

.first-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 15px;
}

.first-list ul {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  font-size: 15px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.08em;
  text-align: left;
}

.first-list ul li {
  list-style: none;
}

.second-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 15px;
}

.second-list ul {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  font-size: 15px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.08em;
  text-align: left;
}

.second-list ul li {
  list-style: none;
}

.about-services {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.about-services p {
  max-width: 32rem;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.09em;
  text-align: center;
}

.copyright {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
