@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  background-image: url("../img/gradiente\ backgrand.svg"),
    url("../img/Imagem\ Backgrand.svg");
  background-size: cover;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  width: 1238px;
  height: 48px;
  margin-top: 20px;
  margin-left: 32px;
}

.nav-header ul {
  display: flex;
  color: #f9f9f9;
  font-weight: 900;
  font-size: 14.33px;
  line-height: 21.49px;
}

.nav-header ul li {
  list-style: none;
  display: flex;
}

ul li img {
  margin-right: 0.5rem;
  width: 19px;
  height: 19px;
}
