@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  background-image: url("../img/gradiente\ backgrand.svg"),
    url("../img/Imagem\ Backgrand.svg");
  background-size: cover;
}

nav .nav-header {
  width: 1238px;
  height: 48px;
  top: 55px;
  left: 32px;
}
